.navbar{
	background: white;
	height: 70px;
	font-size: 14px;
}

.navbar .navWrapper{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar .nav{
	display: flex;
}

.navbar .nav>div{
	cursor: pointer;
}

.navbar .nav>div>a{
	display: flex;
	align-items: center;
}

.navbar .nav>div>a>p{
	margin-left:5px;
}

.navbar .nav>div+div{
	margin-left:30px;
}

.navbar .logout{
	cursor: pointer;
}

.navbar p{
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.navbar .lineWrapper{
	bottom:0;
	left:0;
	position: absolute;
  	padding:0 16px;
	max-width: 1080px;
	margin: auto;
	width:100%;
}

.navbar .line{
	height:2px; 
	background-color: black;
}