.layout{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.layoutContainer{
	flex:1;
}

.fab{
	position: fixed !important;
	bottom:20px;
	right:20px;
	background-color:rgb(220, 0, 78) !important;
}

.icon{
	color:white;
}